{% extends 'base.html' %}

{% block title %}Restaurant{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Images/favicon.png') }}">
{% endblock %}

{% block content %}

    <hero>
        <div class="image-layering">
            <img src="{{ url_for('static', filename='Images/anh-nguyen-kcA-c3f_3FE-unsplash.jpg') }}" alt="food" class="hero-img no-select">
            <div class="text-content-hero">
                <h1>Lorem Ipsum Dolor</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo pariatur temporibus sit voluptatem, eum odit doloremque tempore facere aliquid, nam dolores blanditiis quae.</p>
                <a href="{{ url_for('main.reservations') }}">Book a Table</a>
            </div>
        </div>
    </hero>

    <section class="food-gallery">
        <div class="card">
            <img src="{{ url_for('static', filename='Images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg') }}" alt="">
            <div class="card-content">
                <h1>Delicious Food</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium optio quo corrupti, dicta eum odio illum sapiente, consequatur quibusdam officiis mollitia nobis?</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='Images/anh-nguyen-kcA-c3f_3FE-unsplash.jpg') }}" alt="">
            <div class="card-content">
                <h1>Delicious Food</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium optio quo corrupti, dicta eum odio illum sapiente, consequatur quibusdam officiis mollitia nobis?</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='Images/alex-munsell-Yr4n8O_3UPc-unsplash.jpg') }}" alt="">
            <div class="card-content">
                <h1>Delicious Food</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium optio quo corrupti, dicta eum odio illum sapiente, consequatur quibusdam officiis mollitia nobis?</p>
            </div>
        </div>
    </section>

    <section class="dine-with-us">
        <h1>Dine with us</h1>
        <div class="content-dinewithus">
            <img src="{{ url_for('static', filename='Images/adrien-olichon-ZgREXhl8ER0-unsplash.jpg') }}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nobis, molestiae temporibus ad deleniti, aliquam eius nam eos dolore nulla veniam incidunt eum optio sed. Delectus, debitis aliquid. Debitis, eum.</p>
            <a href="{{ url_for('menu.order') }}" class="menu-cta">See Menu</a>
        </div>
    </section>

    <section class="locations">
        <h1>Our locations:</h1>
        <div class="location-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3178.2620426796534!2d72.57383572487618!3d23.02329060697684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1758813897309!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="address">
                <p><b>Location 1:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta tenetur, dolorum deleniti esse incidunt optio veritatis debitis culpa, nulla earum inventore beatae. Alias veritatis laborum tenetur rem modi explicabo repellendus.</p>
                <p><b>Location 2:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deserunt maiores distinctio praesentium autem, nisi suscipit modi, officiis assumenda accusamus quasi? Pariatur est esse rem nostrum, cupiditate vel distinctio eos?</p>
                <p><b>Location 3:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deserunt maiores distinctio praesentium autem, nisi suscipit modi, officiis assumenda accusamus quasi? Pariatur est esse rem nostrum, cupiditate vel distinctio eos?</p>
            </div>
        </div>
    </section>

{% endblock %}